.navbar-transparent {
    background-color: transparent ;
    transition: background-color 0.3s ease;
    z-index: 3 ;
    color: white !important;

  }
  
  .navbar-white {
    background-color: white !important;
    transition: background-color 0.3s ease;
    z-index: 5 !important;
  }
  